.events-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1300px) { /* ここを1200pxから1300pxに変更 */
  .events-container {
      flex-direction: row;
      flex-wrap: wrap;
  }
  .events-group {
      flex: 1;
      min-width: 110px; /* 各イベントグループの最小幅を設定 */
      padding: 10px;
  }
}